.header_text.mobile img {
	width: 100%;
	margin-left: .6px;
}
.header_text.desktop img {
	width: 100%;
	margin-left: .6px;
}
.header_teams img {
	width: 100%;
}
.header {
	padding-left: 0px;
    padding-right: 0px;
    background-color: #5d6973;
}
.header_teams {
	padding-left: 0px;
    padding-right: 0px;
}
.header_text {
	padding-left: 0px;
    padding-right: 0px;
}

.form-control.required {
	border: 1px solid #ff0000;
}
#form-padding {
	padding-right: 0px;
	padding-left: 0px;
	max-width: 555px;
}
.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
body {
	background-color: #212b33; /* layer fill content */
}
.intro-text h1 {
	color: #e1e000;
	font-family: "bose_gothic_screenBlkOb";
	font-size: 40px;
}
.intro-text h5 {
	color: #e1e000;
	font-family: "bose_gothic_screenMdOb";
	font-size: 24px;
}
.form-control {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #c4c4c4; /* layer fill content */
	font-family: "bose_gothicregular";
	font-size: 13px;
}
.form-group .checkbox {
	color: #e1e000;
	font-size: 12px;
}
.form-group .checkbox a {
	color: #e1e000;
	font-size: 12px;
}
.form-group.checkbox-margins {
	margin-bottom: 1px;
}
.footer {
	border-top: #e1e000;
	border-top-style: solid;
	border-top-width: 2px;
	background-color: #212b33;
}
.schedual img {
	width: 100%;
}
.schedual {
	margin-top: 20px;
}
.footerbold {
	color: #5d6973;
	font-size: 10px;
	font-family: "bose_gothic_screenbold";
}
.footerregular {
	color: #5d6973;
	font-size: 10px;
	font-family: "bose_gothicregular";
}
.footer-text {
	padding: 20px;
}
.main-section {
	padding-bottom: 10%;
	background-color: #5d6973;
}
#firstandgotextbreak {
	display: none;
}
.btn-primary {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #e1e100; /* layer fill content */
	width: 150px;
	font-family: "bose_gothic_screenBlkOb";
	font-size: 21px;
	border-color: #e1e100
}
.btn-primary:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #ffff04; /* layer fill content */
	width: 150px;
	font-family: "bose_gothic_screenBlkOb";
	font-size: 21px;
}

.main-section {
/*     -moz-border-image: url('../images/top-border.png') 0 0 27 0 stretch stretch; */
/*
border-style: solid;
border-width: 27px;
-moz-border-image: url(../images/top-border.png) 27 repeat;
-webkit-border-image: url(../images/top-border.png) 27 repeat;
-o-border-image: url(../images/top-border.png) 27 repeat;
border-image: url(../images/top-border.png) 27 fill repeat;
*/

/* border-style: solid; border-width: 0px 27px 24px 0px; -moz-border-image: url(../images/top-border.png) 0 27 24 0 stretch; -webkit-border-image: url(../images/top-border.png) 0 27 24 0 stretch; -o-border-image: url(../images/top-border.png) 0 27 24 0 stretch; border-image: url(../images/top-border.png) 0 27 24 0 fill stretch; */

border-style: solid; 
border-width: 24px 0px 0px; 
-moz-border-image: url(../images/top-border2.png) 24 0 0 repeat; 
-webkit-border-image: url(../images/top-border2.png) 24 0 0 repeat; 
-o-border-image: url(../images/top-border2.png) 24 0 0 repeat; 
border-image: url(../images/top-border2.png) 24 0 0 fill repeat;
top: -1px;
}

.form-control:focus {
    border-color: #e1e000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(225, 224, 0, 1);
    outline: 0 none;
}


/*
input[type="checkbox"]:active {
    color: red;
    background: red;
	background-color: red;
	outline: 1px solid red;
}
*/






 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) and (max-width : 479px) {
.header_text.mobile img {
	display: block;
	}
.header_text.desktop img {
	display: none;
	}
.schedual.desktop img {
	display: none;
	}
.schedual.mobile img {
	display: block;
	}
.extra-15-pad {
	padding-bottom: 15px;
	}
}


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) and (max-width : 767px) {
.header_text.mobile img {
	display: block;
	}
.header_text.desktop img {
	display: none;
	}
.schedual.desktop img {
	display: block;
	}
.schedual.mobile img {
	display: none;
	}
.extra-15-pad {
	padding-bottom: 15px;
	}
}


    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 991px) {
.header_text.mobile img {
	display: none;
	}
.header_text.desktop img {
	display: block;
	}
.schedual.desktop img {
	display: block;
	}
.schedual.mobile img {
	display: none;
	}
.extra-15-pad {
	padding-bottom: 0px;
	}
.intro-text h1 {
	font-size: 31px;
	}
.intro-text h5 {
	font-size: 18px;
	}
}


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1199px) {
.header_text.mobile img {
	display: none;
	}
.header_text.desktop img {
	display: block;
	}
.schedual.desktop img {
	display: block;
	}
.schedual.mobile img {
	display: none;
	}
.extra-15-pad {
	padding-bottom: 0px;
	}
}


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
.header_text.mobile img {
	display: none;
	}
.header_text.desktop img {
	display: block;
	}
.schedual.desktop img {
	display: block;
	}
.schedual.mobile img {
	display: none;
	}
.extra-15-pad {
	padding-bottom: 0px;
	}
}

/* 	OTHER MEDIA QUERIES */
	@media only screen and (min-width : 768px) and (max-width : 884px) {
	#firstandgotextbreak {
		display: block;
	}
}
    @media only screen and (min-width : 768px) and (max-width : 985px) {
.schedual.desktop img {
	display: none;
	}
.schedual.mobile img {
	display: block;
	}
}

	@media only screen and (min-width : 1px) and (max-width : 486px ) {
.intro-text h1 {
	font-size: 31px;
	}
.intro-text h5 {
	font-size: 18px;
	}
}
	@media only screen and (min-width : 1340px) and (max-width : 99999px) {
	.form_area {
		max-width: 87%;
	}
}
